solidar = {
    'server': 'yogui.somenergia.lan',
    'user': 'somadmin',
    'password': '',
    'logs_directory': '/var/log/solidar/',
    'file_name': 'PVGIScalls'
}

user_solidar = {
   'sender': 'sistemes@somenergia.coop',
   'recipients': ['a@a.com'],
   'bcc': ['a@a.coop'],
   'smtp_host': 'smtp.mandrillapp.com',
   'smtp_port': 587,
   'username': 'SomEnergia',
   'password': '',
   'use_tls': False,
}

