ooop = dict(
    dbname = 'databasename',
    user = 'MyERPUser',
    pwd = 'myhiddenerppassword',
    uri = 'https://myerpserver.net',
    port = 8069,
)

psycopg = dict(
    database = 'databasename',
    user = 'databaseuser',
    password = 'myhiddendbpassword',
    host = 'mydatabaseserver',
    port = '5433',
)

erppeek = dict(
    server='{uri}:{port}'.format(**ooop),
    db=ooop['db'],
    user=ooop['user'],
    password=ooop['pwd'],
)


