
ooop = dict(
   dbname = 'dbname',
   port = port,
   user = 'user',
   uri = 'http://localhost',
   pwd = 'password',
)

erppeek = dict(
   server='{uri}:{port}'.format(**ooop),
   db=ooop['dbname'],
   user=ooop['user'],
   password=ooop['pwd'],
)

apinergia = {
   'server': 'https://somewhere.somenergia.coop',
   'user': 'PauRiba',
   'password': 'iestiguescontenta',
   'csv_output_directory: '/tmp'
}

mongodb_profiles=ns(
   prod = 'mongodb://user:password@host:port/dbname',
   test = 'mongodb://user:password@host:port/dbname',
   pre = 'mongodb://user:password@host:port/dbname',
   pre2 = 'mongodb://user:password@host:port/dbname',
)

mongodb = mongodb_profiles.testing

